@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  padding: 35px 0;
}
#navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.background2{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(./b2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
}



/*----------3.Cards----------*/
.card {
	position: relative;
  	margin:2% 5px 2% 5px;
  	background-color: #fff;
  	transition: box-shadow .25s;
  	border-radius: 2px;
   	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding:0;
	min-width:700px;
	max-width:700px;
}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-content {
  padding: 15px 10px 0 0;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin:0;
  font-size:1.45rem;
  color: #555555;
}
.card-content h3{
text-align: center;
}
/*----3.a.Horizontal----*/
.card.horizontal .card-image img {
	height:200px;
	width:200px;
}

.card.horizontal {
  
  	display: flex;
}
.card.horizontal.small .card-image,
 .card.horizontal.medium .card-image,
  .card.horizontal.large .card-image {
  	height: 100%;
  	max-height: none;
  	overflow: visible;
}
.card-section{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.Form-section{
    width: 40%;
   
}


.filter{
    padding: 25px;
    
}
.filter form{
  display: flex;
  justify-content: center;
}
.select1{
    margin: 35px;
   
}
label{
    font-size: 20px;
    margin:15px ;
    color: #012738;
   
}
select{
    width: 100px;
    border: 2px solid #012738;
    background-color: transparent;
    border-radius: 20px;
    height: 30px;
}
.row{
    display: flex;
}
.Form-section form{
    border: 2px solid #012738;
    border-radius: 20px;
   
}
.price{
    display: flex;
}
.select2{
margin-top: 20px; 
margin-bottom: 20px;    
}
.select2 select{
  width: 390px;
}
.Bedroom{
  display: flex;
}
.f2{
height:300px ;
border: 2px solid #012738;
border-radius: 20px;
}
.bath{
  margin-top: 20px; 
margin-bottom: 20px;   
}
.bt{
  background-color: transparent;
  border: 2px solid #012738;
  border-radius: 20px;
  width: 200px;
  height: 30px;
margin-left: 180px;
margin-top: 20px;}
#bath{
  width: 380px;
}
#max-price{
  width: 170px;
}
.section-footer {
  display: flex;
  background-color: #051922;
  color: white;
  padding: 70px 0;
  justify-content: space-around;
}
.About-Us {
  width: 25%;
}
.get-in-touch {
  width: 25%;
}
.Pages {
  width: 10%;
}
.Newletter {
  width: 25%;
}

.section-footer h2 {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}
.section-footer h2:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #fbc531;
  content: "";
}
.section-footer p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}
.Pages a {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
  color: #fff;
}
.Newletter input {
  border: none;
  background-color: #012738;
  width: 60%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}
.Newletter button {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #fbc531;
  padding: 14px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.copyright {
  background-color: #051922;
  border-top: 1px solid #232a35;
}
.copyright p {
  margin: 0;
  color: #fff;
  opacity: 0.7;
  padding: 16px 0;
  font-size: 15px;
  text-align: center;
}
#input1{
  width: 150px;
  border: 2px solid #012738;
  background-color: transparent;
  border-radius: 20px;
  height: 25px;
}
.fas{
  margin-left: -20px;
}