@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  padding: 35px 0;
}
#navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(.//b2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.content {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
  margin-bottom: 10px;
}
#bouton-Contact {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fbc531;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
.formulaire {
  position: absolute;
  width: 700px;
  height: 150px;
  padding: 40px;
  background: gray;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Labels {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-column-gap: 10px;
  justify-content: center;
}
.inputs {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-column-gap: 10px;
  justify-content: center;
}
.inputs1 {
  display: grid;
  grid-template-columns: 200px 200px 150px;
  grid-column-gap: 20px;
  justify-content: center;
}
.inputs1 input {
  height: 20px;
}
.row1 {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 10px;
}
.row2 {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 10px;
}

.Labels1 {
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  grid-column-gap: 10px;
}
.rangeslider {
  display: grid;
  grid-template-columns: 280px 310px;
  grid-column-gap: 10px;
  justify-content: center;
}
#price-min {
  width: 210px;
}
#price-max {
  width: 210px;
  margin-left: -60px;
}
form {
  display: grid;
  grid-row-gap: 10px;
}
#bouton-form {
  width: 130px;
  height: 40px;
  border-radius: 10px;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.images img {
  padding: 20px;
  border-radius: 30px;
}
.Titre-Section {
  text-align: center;
  position: relative;
  color: #012738;
}
.Titre-Section::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #fbc531;
  content: "";
}

.numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
}

#fun h3 {
  text-align: center;
}
.fas {
  text-align: center;
}
.vl {
  border-left: 3px solid #fbc531;
  height: 50px;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about img {
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 15px;
  margin: 15px;
}
.about h2 {
  font-size: 3rem;
  font-weight: 700px;
  line-height: 3.25rem;
  color: #012738;
}

.about p {
  font-size: 25px;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 20px;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 10px;
  height: 350px;
  width: 500px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.section-footer {
  display: flex;
  background-color: #051922;
  color: white;
  padding: 70px 0;
  justify-content: space-around;
}
.About-Us {
  width: 25%;
}
.get-in-touch {
  width: 25%;
}
.Pages {
  width: 10%;
}
.Newletter {
  width: 25%;
}

.section-footer h2 {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}
.section-footer h2:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #fbc531;
  content: "";
}
.section-footer p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}
.Pages a {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
  color: #fff;
}
.Newletter input {
  border: none;
  background-color: #012738;
  width: 60%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}
.Newletter button {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #fbc531;
  padding: 14px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.copyright {
  background-color: #051922;
  border-top: 1px solid #232a35;
}
.copyright p {
  margin: 0;
  color: #fff;
  opacity: 0.7;
  padding: 16px 0;
  font-size: 15px;
  text-align: center;
}
