Body {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  padding: 35px 0;
}
#navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.background-image {
  background-image: url(./symbolic-image-of-a-megacity-with-a-dmitriip.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
